/*body css*/
body {
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  background-image: url("back.jpeg");
  background-size: cover;
}

#root{
  height: 75vh;
}

body h1 {
  color: white;
  font-size: 50px;
}

h2 {
  padding: 0;
  margin-top: 5px;
}

h3 {
  padding: 0;
  margin: 0px;
}

ul,
li {
  padding: 0;
  margin: 0;
}

/*general container css*/

.container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

/* Filter Box*/
.filters {
  background-color: #52de97;
  width: 20%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 10px 9px 22px 2px rgba(255, 255, 255, 0.75);
}

.filter p,
h2 {
  margin: 5px;
}

.filter p {
  font-size: 20px;
}

.filters h1 {
  font-size: 40px;
}

.filters h2 {
  font-size: 30px;
}
.filters h1,
h2 {
  margin: 0;
  padding: 0;
}

.filters input {
  font-size: 22px;
  width: 80%;
  align-self: center;
  margin-top: 5px;
  border-radius: 10px;
  text-align: center;
}

.filters button {
  font-size: 22px;
  width: 80%;
  align-self: center;
  margin-top: 5px;
  border-radius: 10px;
  text-align: center;
}

.filter {
  margin-bottom: 15px 5px 15px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  border-radius: 10px;
}

/* Main results Display*/

.display {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: #3c9d9b;
  width: 70%;
  padding: 1%;
  border-radius: 25px;
  box-shadow: 10px 9px 22px 2px rgba(255, 255, 255, 0.75);
}

.result {
  background-color: white;
  text-align: left;
  margin-bottom: 5px;
  display: grid;
  font-size: 28px;
  grid-template-columns: 7% 50% 20% 15% 15%;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px;
  box-shadow: 1px 2px 75px -20px rgba(0, 0, 0, 0.75);
}

.result:hover {
  background-color: #394a6d;
  color: white;
  cursor: pointer;
}

.header {
  background-color: cadetblue;
  font-size: 40px;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 5px;
  display: grid;
  border: 1px solid black;
  padding: 5px;
  box-shadow: 1px 2px 75px -20px rgba(0, 0, 0, 0.75);
  grid-template-columns: 7% 50% 20% 15% 15%;
}

.pagination {
  display: flex;
  align-self: center;
  font-size: 32px;
}

.pagination p {
  margin-right: 25px;
  color: white;
}

.pagination h4 {
  color: white;
  padding: 0;
  margin: 0;
  cursor: pointer;
  margin-right: 25px;
  align-self: center;
}

.pagination h4:hover {
  color: grey;
}

#sort {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

/*CSS Transitions React*/

.moreInfo-enter {
  opacity: 0;
  transform: scale(0.7);
}
.moreInfo-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 1000ms;
}
.moreInfo-exit {
  opacity: 1;
}
.moreInfo-exit-active {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 100ms, transform 100ms;
}

.filters-enter {
  opacity: 0.5;
  transform: scale(0.7);
  transform: translateX(-1220px);
}
.filters-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.filters-exit {
  opacity: 1;
}
.filters-exit-active {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 100ms, transform 100ms;
}

.display-enter {
  opacity: 0.5;
  transform: scale(0.7);
  transform: translateX(1220px);
}
.display-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.display-exit {
  opacity: 1;
}
.display-exit-active {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 100ms, transform 100ms;
}

/* PopUpWindow CSS*/

.moreInfo {
  border-radius: 30px;
  position: absolute;
  width: 90vw;
  height: 80vh;
  top: 10%;
  left: 5%;
  background-color: #d0dbed;
  border: 4px solid black;
  box-shadow: 15px 9px 5px 0px rgba(0, 0, 0, 0.75);
}

.infocontainer {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20%, 10%, 10%, 15%, 15%, 40%;
  border-block-end: 3px black solid;
  text-align: left;
  border-radius: 25px;
  background-color: white;
  width: 70%;
  height: 90%;
  overflow-y: scroll;
}

.item {
  background-color: #80cbc4;
  border: 1px solid #fff;
  padding-left: 20px;
  font-size: 30px;
  padding-top: 1%;
  text-align: center;
}

.infocontainer h2 {
  font-size: 28px;
}

.infocontainer h3,
li {
  font-size: 24px;
}

.popUpWindow {
  display: flex;
  flex-direction: column;
  height: 95%;
}

.closeX {
  margin-top: 1%;
  cursor: pointer;
  width: 15%;
  align-self: flex-end;
}

.maincontainer {
  display: flex;
  flex-direction: row;
  margin: 2%;
  height: 85%;
  justify-content: space-around;
  padding-top: 1%;
}

.maincontainer img {
  width: 20%;
  height: 90%;
}

.arrowscontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.arrow {
  border-radius: 25px;
  width: 60px;
  cursor: pointer;
  height: 60px;
}

/*CSS for mobiles*/
@media (max-width: 550px) {

  #root{
    height: 85vh;
  }

  body h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
  }
  
  h2 {
    padding: 0;
    margin-top: 1px;
  }
  
  /*general container css*/
  
  .container {
    flex-direction: column;
  }
  
  /* Filter Box*/
  .filters {
   width: 90%;
   height: 50%;
   margin-bottom: 8px;
   align-self:center;
  }
  
  .filter p,
  h2 {
    margin: 0px;
  }
  
  .filter p {
    font-size: 12px;
  }
  
  .filters h1 {
    font-size: 15px;
  }
  
  .filters h2 {
    font-size: 14px;
  }
  
   .filters input {
    font-size: 15px;
    margin-top: 1px;
  }
  
  .filters button {
    font-size: 15px;
    margin-top: 1px;
  }
  
  .filter {
    margin: 2px 5px 2px 5px;
    border: px solid black;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    border-radius: 10px;
    text-align: center;
  }
  
  /* Main results Display*/
  
  .display {
    width: 95%;
    padding: 1%;
    height: 60%;
    align-self: center;
  }

  .beername{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .result {
    margin-bottom: 1px;
    font-size: 12px;
    padding: 1px;
  }

  .results {
    overflow-y: scroll;
    height: 90%;
  }
  
  .header {
    font-size: 13px;
    padding: 5px;
  }
  
  .pagination {
    font-size: 12px;
  }
  
  .pagination p {
    margin-right: 25px;
  }

  #sort {
    width: 12px;
    height: 12px;
  }
  
  /* PopUpWindow CSS*/
  
  .moreInfo {
    border: 2px solid black;
  }
  
  .infocontainer h2 {
    font-size: 12px;
  }
  .item {
    padding-top: 1px;
    text-align: left;
    padding-left: 0px;
    text-overflow: clip;
  }
  .infocontainer{
    border-radius: 0;
  }
  
  .infocontainer h3,
  li {
    font-size: 10px;
  }
  
  .arrow {
    border-radius: 12px;
    width: 30px;
    height: 30px;
  }}
  .closeX {
    padding-right: 25px;
  }
}
